/*=========================================================================
PRODUCT BODY AND DOCUMENTATION
=========================================================================*/
.product-collateral{background:#fff url(../images/product_collateral_bg.gif) repeat-x scroll 0 0 !important;}

.prod_body_desc { font-size: 11px; }
.prod_body_desc a:link { font-size: 12px; color: #c00; text-decoration: none; font-weight: bolder; }
.prod_body_desc a:visited { font-size: 12px; color: #c00; text-decoration: none; font-weight: bolder; }
.prod_body_desc a:hover { font-size: 12px; color: #c00; text-decoration: underline; font-weight: bolder; }

.prod_body_space { height: 20px; }

.prod_doc_tabs_row { width: 100%; }
.prod_doc_tabs_space { width: 6px; font-size: 1px; border-bottom: 1px solid #808080; }
.prod_doc_tab { height: 20px; width: 170px; padding: 0px; vertical-align: bottom; }
.prod_doc_tab_div { line-height:12px; border: 1px solid #808080; background-color: #eee; width: 99%; _width: 100%; text-align: center; font-size: 11px; height: 12px; padding: 0px; cursor: pointer; }
.prod_doc_tab_div_sel { border: 1px solid #808080; background-color: #fff; border-bottom: 0px; width: 99%; _width: 100%; text-align: center; font-size: 12px; height: 20px; padding: 0px; font-weight: bold; }

.prod_doc_content { border: 1px solid #808080; border-top: 0px; width: 100%; }
.prod_doc_content_cell { padding: 4px 17px 4px; }

.prod_doc_table { font-size: 12px; border-collapse: collapse; width: 100%; }
.prod_doc_table td { vertical-align:middle; padding-left: 10px; height: 20px; border-bottom: 1px solid #fff; width: 50%; white-space: normal; }
.prod_doc_block_head { background-color: #d5e9ff; font-weight: bold; padding: 3px; }
.prod_doc_item_head { background-color: #e5eff1; width: auto !important; }
.prod_doc_item_head2 { background-color: #e5eff1; text-align: left !important; padding: 3px; }
.prod_doc_item_question { background-color: #e5eff1; width: 16px !important; }
.prod_doc_item_question img { cursor: help; }
.prod_doc_item_descr {padding: 5px 0 5px 10px;}
.prod_alt_table td { text-align: center; font-size: 11px; vertical-align:middle;}

.prod_doc_hint { position: absolute; z-index: 15; visibility: hidden; background: #fffedf; color: #000; border: 1px solid #ccc; padding: 1px; }

.prod_doc_line_sep { text-align: center; height: 4px; padding: 0px; }
.prod_doc_line_sep div { width: 600px; border-bottom: 1px dashed #000; height: 1px; margin: 0px auto; }

a.prod_link_bold:link { color: #307ac4; text-decoration: underline; font-size: 11px; font-weight: bold; }
a.prod_link_bold:visited { color: #307ac4; text-decoration: underline; font-size: 11px; font-weight: bold; }
a.prod_link_bold:hover { color: #307ac4; text-decoration: none; font-size: 11px; font-weight: bold; }

a.prod_link_small:link { color: #307ac4; text-decoration: underline; font-size: 11px; }
a.prod_link_small:visited { color: #307ac4; text-decoration: underline; font-size: 11px; }
a.prod_link_small:hover { color: #307ac4; text-decoration: none; font-size: 11px; }
a.more_link{font-size:12px;font-weight:bold;color:#CC0000;text-decoration: none;}
a.more_link:hover{text-decoration: underline;}
div.description_b{padding: 25px;}
div.short_product_description{ margin-bottom: 10px;}
div.product_description span{ font-weight: normal; }