<?xml version="1.0"?>
<config>    
	<modules>
		<Bintime_Icecatimport>
			<version>0.1.1</version>
		</Bintime_Icecatimport>
	</modules>
	<global>
				<events>
            <catalog_controller_product_init_after>
                <observers>
                    <unique_lol>
                        <type>singleton</type>
                        <class>icecatimport/observered</class>
                        <method>refill</method>
                    </unique_lol>
                </observers>
            </catalog_controller_product_init_after>
        </events>
		<helpers>
			<icecatimport>
				<class>Bintime_Icecatimport_Helper</class>
			</icecatimport>
			<catalog>
				<rewrite>
					<image>Bintime_Icecatimport_Helper_Catalog_Image</image>
<!--
					<output>Bintime_Icecatimport_Helper_Output</output>
-->
				</rewrite>
			</catalog>
		</helpers>
	<blocks>
			<catalog>
				<rewrite>
					<product_view_attributes>Bintime_Icecatimport_Block_Attributes</product_view_attributes>
					<product_view_media>Bintime_Icecatimport_Block_Media</product_view_media>	
					<product_list_related>Bintime_Icecatimport_Block_Related</product_list_related>		
					<product_list_upsell>Bintime_Icecatimport_Block_Upsell</product_list_upsell> 
				</rewrite>
			</catalog>		

	</blocks>
		<models>
            <icecatimport>
                <class>Bintime_Icecatimport_Model</class>
                <resourceModel>icecatimport_resource_eav_mysql4</resourceModel>
            </icecatimport>
            <icecatimport_resource_eav_mysql4>
            	<entities>
            		<data><table>bintime_connector_data</table></data>
            		<supplier_mapping><table>bintime_supplier_mapping</table></supplier_mapping>
            	</entities>
            </icecatimport_resource_eav_mysql4>
            <catalog>
            	<rewrite>
            		<product>Bintime_Icecatimport_Model_Catalog_Product</product>
            		<category>Bintime_Icecatimport_Model_Catalog_Category</category>
            	</rewrite>
            </catalog>
            <catalogsearch_mysql4>
            	<rewrite>
            		<fulltext_collection>Bintime_Icecatimport_Model_Catalog_Search</fulltext_collection>
            	</rewrite>
            </catalogsearch_mysql4>
		</models>
		<!--
		<routers>
			<catalog>
				<rewrite>
					<product>
						<to>Bintime_Icecatimport/product</to>
						<override_actions>false</override_actions>
						<actions>
							<view><to>Bintime_Icecatimport/product/view</to></view>
						</actions>
					</product>
				</rewrite>
			</catalog>
		</routers>
		-->
		<resources>
			<icecatimport_setup>
				<setup>
					<module>Bintime_Icecatimport</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</icecatimport_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<icecatimport>
				<use>standard</use>
				<args>
					<module>Bintime_Icecatimport</module>
					<frontName>icecatimport</frontName>
				</args>
			</icecatimport>
		</routers>
		<layout>
			<updates>
				<icecatimport>
					<file>icecatimport.xml</file>
				</icecatimport>
			</updates>
		</layout>
		<translate>
			<modules>
				<icecatimport>
					<files>
						<default>Bintime_Icecatimport.csv</default>
					</files>
				</icecatimport>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<icecat_root translate="title" module="customer">
											<title>Ice Cat Module powered by Bintime company</title>
											<sort_order>200</sort_order>
										</icecat_root>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	    <events></events>
	    <translate>
	    	<modules>
	    		<mage_adminhtml>
	    			<files>
	    				<icecatimport>Bintime_Icecatimport.csv</icecatimport>
	    			</files>
	    		</mage_adminhtml>
	    	</modules>
	    </translate>
	</adminhtml>
	<crontab>
		<jobs>
			<icecatimport>
				<schedule><cron_expr>0 3 * * *</cron_expr></schedule>
				<run><model>icecatimport/observer::load</model></run>
			</icecatimport>
		</jobs>
	</crontab>
</config>
