<?xml version="1.0" encoding="UTF-8"?>
<config>
        <sections>
			<icecat_root translate="label" module="catalog">
			<class>separator-top</class>
            <label>Ice Cat</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <icecat translate="label">
                    <label>Ice Cat Block</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<login translate="label">
				    		<label>Ice Cat user login</label>
	                        <frontend_type>text</frontend_type>
			            	<sort_order>10</sort_order>
			            	<show_in_default>1</show_in_default>
			            	<show_in_website>1</show_in_website>
			            	<show_in_store>1</show_in_store>
                    	</login>
                    	<password translate="label">
				    		<label>Ice Cat Password</label>
	                        <frontend_type>text</frontend_type>
			            	<sort_order>20</sort_order>
			            	<show_in_default>1</show_in_default>
			            	<show_in_website>1</show_in_website>
			            	<show_in_store>1</show_in_store>
                    	</password>
                    	<icecat_type translate="label">
				    		<label>Subscription level</label>
	                        <frontend_type>select</frontend_type>
	                        <source_model>icecatimport/system_config_subscription</source_model>
			            	<sort_order>25</sort_order>
			            	<show_in_default>1</show_in_default>
			            	<show_in_website>1</show_in_website>
			            	<show_in_store>1</show_in_store>
                    	</icecat_type>
                    	<language translate="label">
				    		<label>Language</label>
	                        <frontend_type>select</frontend_type>
	                        <source_model>icecatimport/system_config_locales</source_model>
			            	<sort_order>30</sort_order>
			            	<show_in_default>1</show_in_default>
			            	<show_in_website>1</show_in_website>
			            	<show_in_store>1</show_in_store>
                    	</language>
                        <sku_field translate="label">
				    		<label>MPN</label>
	                        <frontend_type>select</frontend_type>
	                        <source_model>icecatimport/system_config_attributes</source_model>
			            	<sort_order>40</sort_order>
			            	<show_in_default>1</show_in_default>
			            	<show_in_website>1</show_in_website>
			            	<show_in_store>1</show_in_store>
                    	</sku_field>
                    	<manufacturer translate="label">
				    		<label>Manufacturer Name</label>
	                        <frontend_type>select</frontend_type>
	                        <source_model>icecatimport/system_config_attributes</source_model>
			            	<sort_order>50</sort_order>
			            	<show_in_default>1</show_in_default>
			            	<show_in_website>1</show_in_website>
			            	<show_in_store>1</show_in_store>
                    	</manufacturer>
                    	<productname translate="label">
				    		<label>Rewrite product name</label>
	                        <frontend_type>select</frontend_type>
	                        <source_model>icecatimport/system_config_productname</source_model>
			            	<sort_order>60</sort_order>
			            	<show_in_default>1</show_in_default>
			            	<show_in_website>1</show_in_website>
			            	<show_in_store>1</show_in_store>
                    	</productname>
                    </fields>
                </icecat>
            </groups>
			</icecat_root>
        </sections>
</config>
